.navbar {
  background-color: #0c1a6def;
}
.jumbotron {
  padding-top: 5rem;
  background-color: #e09f26;
}

#projects {
  background-color: #e09f26;
}

section {
  padding-top: 5rem;
}

.btn {
  background-color: #0c1a6def;
}

.footer {
  background-color: #0c1a6def;
}
